materialscan/
macros/G4LBLVtx.root
macros/SimpleNtuple.root
macros/SimpleNtuple_copy.root
macros/Fun4All_G4_FAIR_copy.C
macros/SimpleNtuple_quadrant_limitedEta.root
macros/barrel_only_FastTrackingEval_1.root
macros/barrel_only_FastTrackingEval_2.root
cori_batch/run_shared.sh~
cori_batch/sPHENIX_shifter.sh~
macros/FastTrackingEval.root
cori_batch/#run_shared.sh#
cori_batch/#slurm-29717230_1.out#
macros/out_allSi_pi-_FastTrackingEval.root
*.out
source/Makefile.in
source/aclocal.m4
source/autom4te.cache/
source/config.guess
source/config.sub
source/configure
source/depcomp
source/install-sh
source/ltmain.sh
source/missing

macros/*.root

cori_batch/sPHENIX_shifter.sh
cori_batch/run_shared_pim_sPHENIX.sh

macros/analysis.C
macros/test.C
macros/test2.C
